html {
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
}

.main {
    margin: 16px;
    min-height: 95vh;
    width: 97vw;
}

.account {
    position: absolute;
    top: 80px;
    left: 1550px;
}

.account-body {
    display: flex;
    flex-direction: row;
    width: 250px;
    gap: 32px;
    justify-content: center;

}

#loginButton {
    width: 96px;
    height: 32px;
    font-size: 1.3em;
}

.account-body div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2em;
}

.account img {
    width: 64px;
}

.alert-window {
    position: absolute;
    top: 500px;
    left: auto;
    max-width: 520px;
    max-height: 220px;
}

.alert-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-body img {
    height: 48px;
    padding: 16px;
    padding-right: 0;
}

#alert-content {
    gap: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.alert-body #text {
    font-size: 1.4em;
    padding: 12px;
}

#acc-login-but {
    justify-content: center;
    gap: 64px;
    display: flex;
    flex-direction: row;
}

#acc-login-but button {
    height: 32px;
    width: 92px;
    font-size: 1.3em;
}

#credits {
    font-size: 3em;
}

#credits a {
    color: blue;
    text-decoration: underline;
}

@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url(/resources/W95FA.otf);
}

.ver-divider {
    background: none;
    border-left: 1px solid #808080;
    border-right: 1px solid #ffffff;
    height: 150%;
    width: 1px;
}

.divider {
    background: none;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #ffffff;
    margin: 2px 0;
    width: 100%;
    height: 1px;
}
